{% extends "base.html.twig" %}
  {% block body %}{
    <div class="container" style="margin-top: 100px">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad enim maiores molestiae nostrum numquam odit porro quidem rerum! Ab at commodi doloribus exercitationem hic neque nostrum possimus tempora vel, voluptatem?</p>
    </div>
{% endblock %}


