<div id="feature-area" class="feature-area bg-gray pt-90 pb-90">
  <div class="container">
    <!-- Section Title -->
    <div class="row">
      <div class="section-title text-center col-12 mb-45">
        <h3 class="heading">MEILLEURS MONITEURS</h3>
        <div class="excerpt">
          <p></p>
        </div>
        <i class="icofont icofont-traffic-light"></i>
      </div>
    </div>
    <div class="row">
      <!-- Left Feature -->
      <div class="feature-wrapper feature-left text-right col-lg-4 col-12">
        <div class="single-feature">
          <div class="icon"><i class="icofont icofont-file-spreadsheet"></i></div>
          <div class="text fix">
            <h4>Taux de reussite</h4>
            <p>.</p>
          </div>
        </div>
        <div class="single-feature">
          <div class="icon"><i class="icofont icofont-car-alt-4"></i></div>
          <div class="text fix">
            <h4>La disponibilité et le confort de nos voitures</h4>
            <p>.</p>
          </div>
        </div>
        <div class="single-feature">
          <div class="icon"><i class="icofont icofont-video-alt"></i></div>
          <div class="text fix">
            <h4>Code le route</h4>
            <p>.</p>
          </div>
        </div>
      </div>
      <!-- Feature Image -->
      <div class="feature-image text-center col-lg-4 col-12">
        <img src="{{ asset('/img/feature2.png') }}" alt="feature" />
      </div>
      <!-- Right Feature -->
      <div class="feature-wrapper feature-right text-left col-lg-4 col-12">
        <div class="single-feature">
          <div class="icon"><i class="icofont icofont-man-in-glasses"></i></div>
          <div class="text fix">
            <h4>Experience de nos moniteurs</h4>
            <p>.</p>
          </div>
        </div>
        <div class="single-feature">
          <div class="icon"><i class="icofont icofont-clock-time"></i></div>
          <div class="text fix">
            <h4>N'importe quand n'importe où</h4>
            <p>.</p>
          </div>
        </div>
        <div class="single-feature">
          <div class="icon"><i class="icofont icofont-direction-sign"></i></div>
          <div class="text fix">
            <h4>La conduite</h4>
            <p>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
