<div class="footer-area overlay overlay-black overlay-70 pt-90">
  <div class="container">
    <div class="row">
      <div class="footer-widget text-left col-lg-3 col-md-6 col-12">
        <h4 class="widget-title">A propos</h4>
        <div class="about-widget">
          <div class="widget-social fix">
            <a href="#"><i class="icofont icofont-social-facebook"></i></a>
            <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
            <a href="#"><i class="icofont icofont-social-twitter"></i></a>
            <a href="#"><i class="icofont icofont-social-rss"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-widget text-left col-lg-3 col-md-6 col-12">
        <h4 class="widget-title">Contact rapide</h4>
        <div class="contact-widget">
          <h5>address:</h5>
          <h5>phone:</h5>
          <h5>e-mail</h5>
          <p>
            <a href="#" style="color: white">permisacceleres@yahoo.f</a>
            <a href="#" style="color: white">www.meilleurs.moniteur.com</a>
          </p>
        </div>
      </div>
      <div class="footer-widget text-left col-lg-3 col-md-6 col-12">
        <h4 class="widget-title">blog post</h4>
      </div>
      <div class="footer-widget text-left col-lg-3 col-md-6 col-12">
        <h4 class="widget-title">instagram</h4>
      </div>
    </div>
    <div class="footer-bottom text-center col-12">
      <p class="copyright" style="color: white; font-size: 15px">Copyright &copy; {{ "now"|date("Y") }}
        <a href="#">{{'app.name'|trans}}</a> Tous droits reservés</p>
    </div>
  </div>
</div>
