{% extends 'base.html.twig' %}
{% block title %}Auto ecole{% endblock %}
{% block body %}
    <!-- Hero Slide Area
    ============================================ -->
    {% include 'common/caroussel.html.twig' %}

  <!-- Pricing Area
   ============================================ -->
  {% include 'common/indexPricing.html.twig' %}

    <!-- Feature Area
    ============================================ -->



    {% include 'common/Feature.html.twig' %}


    <!-- Funfact Area
    ============================================ -->
    {% include 'common/Funfact.html.twig' %}

    <!-- Course Area
    ============================================ -->

    {% include 'common/course.html.twig' %}


    <!-- CTA Area
    ============================================ -->
    <div class="cta-area pb-40 pt-40">
      <div class="container">
        <div class="row">
          <div class="call-to-action text-left col-lg-10 col-12 mx-auto">
            <h3>Reserver  votre votre heure d'évaluation</h3>
            <a href="#" class="btn transparent ">Reserver</a>
          </div>
        </div>
      </div>
    </div>
 {% endblock %}
