{% extends 'base.html.twig' %}
{% block body %}
  {% include 'common/banner.html.twig'  with {
    title: 'Cofirmation',
    link: '#',
    home: 'La conduite'
  } %}
  <div class="container-fluid bg-white" xmlns="http://www.w3.org/1999/html">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            {% include 'blocks/sideMenu.html.twig' %}
          </div>
          <div class="col-8">
            <div class="col-12">
              {% include 'blocks/title.block.html.twig' with {
                title:  'Confirmation de commande' ,
                description: 'Commande validé !'
              } %}
            </div>
            {% include '/common/confirmationTemplate.html.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

  {% block stylesheets %}
  {% endblock %}


